<% if @posts.any? %>
	<ul>
	  <% @posts.each do |post| %>
	  	<li><%= post.title %></li>
	  	<li><%= post.description %></li>
	  	<%= image_tag post.picture.url(:medium), class: 'uploaded_picture' %>


	  	<% post.tags.each do |tag| %>
	  	  <%= link_to tag.name, '#' %>
	  	<% end %>

	  	<% if post.user == current_user %>
	  	  <%= link_to 'Edit post', edit_post_path(post) %>
	  	  <%= link_to 'Delete', post_path(post), method: :delete %>
	  	<% end %>
		<% end %>
	</ul>
<% else %>
  Welcome to Instaham!
<% end %>

